// * --------------Fonts--------------

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

// * --------------Variables--------------

$myFont: Poppins;
$myWidth400: 400;
$myFontColor: #2C3F58;

// ! ----------------------------Footer---------------------------- !

.myfooter {
    width: 100%;
    height: 130px;
    ul {
        padding: 0 0 0 100px; 
        list-style: none;
        margin-top: 50px;
        float: left;
        width: 50%;
        li {
            margin-right: 25px;
            vertical-align: top;
            display: inline;
            height: 100px;

            a{ 
                text-decoration: none;
                i {
                    font-size: 30px;
                    color: $myFontColor;
                }
            }
        }
    }

    span {
        text-align: right;
        padding-right: 70px;
        width: 50%;
        float: left;
        font-family: Poppins;
        font-style: normal;
        font-weight: $myWidth500;
        font-size: 16px;
        color: $myFontColor;
        margin-top: 35px;
    }
}

@media only screen and (max-width: 540px) {
    .myfooter {
        ul  {
            width: 100%;
            padding: 0;
            text-align: center;
        }

        span {
            width: 100%;
            text-align: center;
            padding: 0;
        }
    }
}